@model IEnumerable<PDPDay9LabCF.Models.PDPLoai_San_Pham>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pdpMaLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pdpTenLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pdpTrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pdpMaLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pdpTenLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pdpTrangThai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.pdpId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.pdpId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.pdpId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
